*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #828282;
}

*::-webkit-scrollbar-thumb {
	background-color: #e33535;
	border-radius: 10px;
	border: 3px solid #ffffff;
}
